Source: libpam-usb
Section: admin
Priority: optional
Maintainer: Tobias Bäumer <tobiasbaeumer@gmail.com>
Build-Depends: debhelper (>= 10), dh-systemd (>= 1.5), libxml2-dev, libpam0g-dev, libudisks2-dev, pkg-config, libglib2.0-dev

Standards-Version: 3.9.8
Homepage: https://github.com/mcdope/pam_usb
Package: libpam-usb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libudisks2-0, python, udisks2
Description: Adds auth over usb-stick to pam
 Provides a new pam module, pam_usb.so, that can be used in pam.d/common-auth
